<div class="offset4 span4">
	<h2>Sign up</h2>

	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

		<%= f.input :email, :label => false, :placeholder => "Email address", :input_html => {:class => 'input-xlarge' } %>
		<%= f.input :password, :label => false, :placeholder => "Password", :input_html => {:class => 'input-xlarge' } %>
		<%= f.input :password_confirmation, :label => false, :placeholder => "Confirm password", :input_html => {:class => 'input-xlarge' } %>
		<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, required: true, :prompt => "Set your local time zone" %>

		<div class="form-actions">
			<%= f.submit "Sign up", :class => "btn btn-primary" %>
		</div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>